{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h1>Информация о посте № {{ post.pk }}</h1>
{{ post.author }}
<hr>
<h3>{{ post.title }}</h3>

{% if post.image %}
<p><img src="{{ post.image.url }}" width="400px" height="auto"></p>
{% else %}
<p><img src="{% static 'img/no.jpg'%}" width="150px" height="auto"></p>
{% endif %}

{{ post.text }}
<p><i>{{ post.created_at }}</i></p>

{% if user == post.author %}
    <div class="btn-actions">
        <div class="btn-edit-post">
            <a href="{% url 'blog:update_post' pk=post.id %}">
                <button type="button">Редактировать</button>
            </a>
        </div>
        <div class="btn-del-post">
            <a href="{% url 'blog:delete_post' pk=post.id %}">
                <button type="button">Удалить</button>
            </a>
        </div>
{% endif %}
</div>

{% endblock content %}